[builder "master.tryserver.webrtc/android_arm64_rel"]
    base = "luci.webrtc.ci/Android64 (M Nexus5X)"
[builder "master.tryserver.webrtc/android_rel"]
    base = "luci.webrtc.ci/Android32 (M Nexus5X)"
[builder "master.tryserver.webrtc/android_compile_x86_rel"]
    base = "luci.webrtc.ci/Android32 Builder x86"
[builder "master.tryserver.webrtc/android_more_configs"]
    base = "luci.webrtc.ci/Android32 (more configs)"

[builder "master.tryserver.webrtc/ios_arm64_rel"]
    base = "luci.webrtc.ci/iOS64 Release"
[builder "master.tryserver.webrtc/ios_rel"]
    base = "luci.webrtc.ci/iOS32 Release"
[builder "master.tryserver.webrtc/ios_api_framework"]
    base = "luci.webrtc.ci/iOS API Framework Builder"

[builder "master.tryserver.webrtc/linux_rel"]
    base = "luci.webrtc.ci/Linux64 Release"
[builder "master.tryserver.webrtc/linux32_rel"]
    base = "luci.webrtc.ci/Linux32 Release"
[builder "master.tryserver.webrtc/linux_arm64_rel"]
    base = "luci.webrtc.ci/Linux64 Release (ARM)"
[builder "master.tryserver.webrtc/linux32_arm_rel"]
    base = "luci.webrtc.ci/Linux32 Release (ARM)"
[builder "master.tryserver.webrtc/linux_gcc_rel"]
    base = "luci.webrtc.ci/Linux64 Release (GCC)"
[builder "master.tryserver.webrtc/linux_more_configs"]
    base = "luci.webrtc.ci/Linux (more configs)"

[builder "master.tryserver.webrtc/mac_rel"]
    base = "luci.webrtc.ci/Mac64 Release"

[builder "master.tryserver.webrtc/win_rel"]
    base = "luci.webrtc.ci/Win32 Release"
[builder "master.tryserver.webrtc/win_x64_rel"]
    base = "luci.webrtc.ci/Win64 Release"
[builder "master.tryserver.webrtc/win_clang_rel"]
    base = "luci.webrtc.ci/Win32 Release (Clang)"
[builder "master.tryserver.webrtc/win_x64_clang_rel"]
    base = "luci.webrtc.ci/Win64 Release (Clang)"
[builder "master.tryserver.webrtc/win_more_configs"]
    base = "luci.webrtc.ci/Win (more configs)"
