# Defines consoles to be displayed in LUCI.
#
# See https://chromium.googlesource.com/infra/luci/luci-go/+/master/milo/api/config/project.proto
# for schema of this file and documentation.

headers {
  id: "webrtc"
  tree_status_host: "webrtc-status.appspot.com"

  links {
    name: "Consoles"
    links {
      text: "WebRTC"
      url: "/p/webrtc/g/ci"
      alt: "WebRTC Main CI Console"
    }
    links {
      text: "WebRTC FYI"
      url: "https://build.chromium.org/p/client.webrtc.fyi"
      alt: "WebRTC FYI Console"
    }
    links {
      text: "WebRTC Perf"
      url: "https://build.chromium.org/p/client.webrtc.perf"
      alt: "WebRTC Perf Console"
    }
    links {
      text: "Chromium"
      url: "/p/chromium/g/chromium.webrtc"
      alt: "Chromium WebRTC Console"
    }
    links {
      text: "Chromium FYI"
      url: "/p/chromium/g/chromium.webrtc.fyi"
      alt: "Chromium WebRTC FYI Console"
    }
    links {
      text: "Try WebRTC"
      url: "/p/webrtc/g/try"
      alt: "WebRTC Try Builders"
    }
  }
  links {
    name: "Links"
    links {
      text: "Source"
      url: "https://webrtc.googlesource.com/src/+/master/"
    }
    links {
      text: "Reviews"
      url: "https://webrtc-review.googlesource.com"
    }
    links {
      text: "Bugs"
      url: "https://bugs.webrtc.org/"
    }
    links {
      text: "LKGR status"
      url: "https://storage.cloud.google.com/chromium-webrtc/lkgr-status/webrtc-lkgr-status.html"
    }
  }
  console_groups {
    console_ids: "webrtc/ci"
    console_ids: "chromium/chromium.webrtc"
    console_ids: "chromium/chromium.webrtc.fyi"
  }
}

consoles {
  id: "ci"
  name: "Main"
  repo_url: "https://webrtc.googlesource.com/src"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  include_experimental_builds: true
  header_id: "webrtc"

  builders {
    name: "buildbucket/luci.webrtc.ci/Android32 (M Nexus5X)(dbg)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android32 (M Nexus5X)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android64 (M Nexus5X)(dbg)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android64 (M Nexus5X)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android32 Builder x86"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android32 Builder x86 (dbg)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android64 Builder x64 (dbg)"
    category: "Android"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Android32 (more configs)"
    category: "Android"
  }

  builders {
    name: "buildbucket/luci.webrtc.ci/iOS32 Debug"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS32 Release"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS64 Debug"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS64 Release"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS32 Sim Debug (iOS 9.0)"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS64 Sim Debug (iOS 9.0)"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS64 Sim Debug (iOS 10.0)"
    category: "iOS"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/iOS API Framework Builder"
    category: "iOS"
  }

  builders {
    name: "buildbucket/luci.webrtc.ci/Linux32 Debug"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux32 Release"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Debug"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Release"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux32 Debug (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux32 Release (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Debug (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Release (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Release (GCC)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux Asan"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux MSan"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux Tsan v2"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux UBSan"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux UBSan vptr"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux (more configs)"
    category: "Linux"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Linux64 Release (Libfuzzer)"
    category: "Linux"
  }

  builders {
    name: "buildbucket/luci.webrtc.ci/Mac64 Debug"
    category: "Mac"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Mac64 Release"
    category: "Mac"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Mac Asan"
    category: "Mac"
  }

  builders {
    name: "buildbucket/luci.webrtc.ci/Win32 Debug"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win32 Release"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win64 Debug"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win64 Release"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win32 Debug (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win32 Release (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win64 Debug (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win64 Release (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win32 ASan"
    category: "Win"
  }
  builders {
    name: "buildbucket/luci.webrtc.ci/Win (more configs)"
    category: "Win"
  }
}

consoles {
  id: "client.webrtc"
  name: "Main (Buildbot)"
  repo_url: "https://webrtc.googlesource.com/src"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  include_experimental_builds: true
  header_id: "webrtc"

  builders {
    name: "buildbot/client.webrtc/Android32 (M Nexus5X)(dbg)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android32 (M Nexus5X)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android64 (M Nexus5X)(dbg)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android64 (M Nexus5X)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android32 Builder x86"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android32 Builder x86 (dbg)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android64 Builder x64 (dbg)"
    category: "Android"
  }
  builders {
    name: "buildbot/client.webrtc/Android32 (more configs)"
    category: "Android"
  }

  builders {
    name: "buildbot/client.webrtc/iOS32 Debug"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS32 Release"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS64 Debug"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS64 Release"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS32 Sim Debug (iOS 9.0)"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS64 Sim Debug (iOS 9.0)"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS64 Sim Debug (iOS 10.0)"
    category: "iOS"
  }
  builders {
    name: "buildbot/client.webrtc/iOS API Framework Builder"
    category: "iOS"
  }

  builders {
    name: "buildbot/client.webrtc/Linux32 Debug"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux32 Release"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Debug"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Release"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux32 Debug (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux32 Release (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Debug (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Release (ARM)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Release (GCC)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux Asan"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux MSan"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux Tsan v2"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux UBSan"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux UBSan vptr"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux (more configs)"
    category: "Linux"
  }
  builders {
    name: "buildbot/client.webrtc/Linux64 Release (Libfuzzer)"
    category: "Linux"
  }

  builders {
    name: "buildbot/client.webrtc/Mac64 Debug"
    category: "Mac"
  }
  builders {
    name: "buildbot/client.webrtc/Mac64 Release"
    category: "Mac"
  }
  builders {
    name: "buildbot/client.webrtc/Mac Asan"
    category: "Mac"
  }

  builders {
    name: "buildbot/client.webrtc/Win32 Debug"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win32 Release"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win64 Debug"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win64 Release"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win32 Debug (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win32 Release (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win64 Debug (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win64 Release (Clang)"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win32 ASan"
    category: "Win"
  }
  builders {
    name: "buildbot/client.webrtc/Win (more configs)"
    category: "Win"
  }
}

consoles {
  id: "try"
  name: "Tryserver"
  repo_url: "https://webrtc.googlesource.com/src"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  include_experimental_builds: true
  header_id: "webrtc"

  # Tryjobs in commit queue (keep this synced with cq.cfg):
  builders { name: "buildbucket/luci.webrtc.try/android_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/android_rel" }
  builders { name: "buildbucket/luci.webrtc.try/android_arm64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/android_chromium_compile" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_x86_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_x86_rel" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_x64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/android_more_configs" }
  builders { name: "buildbucket/luci.webrtc.try/ios_arm64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/ios_arm64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/ios_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/ios_rel" }
  builders { name: "buildbucket/luci.webrtc.try/ios32_sim_ios9_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/ios64_sim_ios9_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/ios64_sim_ios10_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/ios_api_framework" }
  builders { name: "buildbucket/luci.webrtc.try/linux32_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux32_arm_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux32_arm_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_arm64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux_arm64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_asan" }
  builders { name: "buildbucket/luci.webrtc.try/linux_chromium_compile" }
  builders { name: "buildbucket/luci.webrtc.try/linux_compile_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux_libfuzzer_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_msan" }
  builders { name: "buildbucket/luci.webrtc.try/linux_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_tsan2" }
  builders { name: "buildbucket/luci.webrtc.try/linux_ubsan" }
  builders { name: "buildbucket/luci.webrtc.try/linux_ubsan_vptr" }
  builders { name: "buildbucket/luci.webrtc.try/linux_gcc_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_more_configs" }
  builders { name: "buildbucket/luci.webrtc.try/mac_asan" }
  builders { name: "buildbucket/luci.webrtc.try/mac_chromium_compile" }
  builders { name: "buildbucket/luci.webrtc.try/mac_compile_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/mac_rel" }
  builders { name: "buildbucket/luci.webrtc.try/presubmit" }
  builders { name: "buildbucket/luci.webrtc.try/win_asan" }
  builders { name: "buildbucket/luci.webrtc.try/win_chromium_compile" }
  builders { name: "buildbucket/luci.webrtc.try/win_clang_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_clang_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_clang_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_clang_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_more_configs" }
  builders { name: "buildbucket/luci.webrtc.try/noop" }

  # Tryjobs not in commit queue:
  builders { name: "buildbucket/luci.webrtc.try/android_compile_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_rel" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_arm64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_arm64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/android_compile_mips_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux_compile_rel" }
  builders { name: "buildbucket/luci.webrtc.try/linux_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/linux32_rel" }
  builders { name: "buildbucket/luci.webrtc.try/mac_compile_rel" }
  builders { name: "buildbucket/luci.webrtc.try/mac_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_compile_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_compile_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_compile_x64_dbg" }
  builders { name: "buildbucket/luci.webrtc.try/win_compile_x64_rel" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_win8" }
  builders { name: "buildbucket/luci.webrtc.try/win_x64_win10" }
}

consoles {
  id: "tryserver.webrtc"
  name: "Tryserver (Buildbot)"
  repo_url: "https://webrtc.googlesource.com/src"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  include_experimental_builds: true
  header_id: "webrtc"

  builders { name: "buildbot/tryserver.webrtc/android_dbg" }
  builders { name: "buildbot/tryserver.webrtc/android_rel" }
  builders { name: "buildbot/tryserver.webrtc/android_arm64_rel" }
  builders { name: "buildbot/tryserver.webrtc/android_chromium_compile" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_x86_dbg" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_x86_rel" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_x64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/android_more_configs" }
  builders { name: "buildbot/tryserver.webrtc/ios_arm64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/ios_arm64_rel" }
  builders { name: "buildbot/tryserver.webrtc/ios_dbg" }
  builders { name: "buildbot/tryserver.webrtc/ios_rel" }
  builders { name: "buildbot/tryserver.webrtc/ios32_sim_ios9_dbg" }
  builders { name: "buildbot/tryserver.webrtc/ios64_sim_ios9_dbg" }
  builders { name: "buildbot/tryserver.webrtc/ios64_sim_ios10_dbg" }
  builders { name: "buildbot/tryserver.webrtc/ios_api_framework" }
  builders { name: "buildbot/tryserver.webrtc/linux32_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux32_arm_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux32_arm_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_arm64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux_arm64_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_asan" }
  builders { name: "buildbot/tryserver.webrtc/linux_chromium_compile" }
  builders { name: "buildbot/tryserver.webrtc/linux_compile_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux_libfuzzer_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_msan" }
  builders { name: "buildbot/tryserver.webrtc/linux_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_tsan2" }
  builders { name: "buildbot/tryserver.webrtc/linux_ubsan" }
  builders { name: "buildbot/tryserver.webrtc/linux_ubsan_vptr" }
  builders { name: "buildbot/tryserver.webrtc/linux_gcc_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_more_configs" }
  builders { name: "buildbot/tryserver.webrtc/mac_asan" }
  builders { name: "buildbot/tryserver.webrtc/mac_chromium_compile" }
  builders { name: "buildbot/tryserver.webrtc/mac_compile_dbg" }
  builders { name: "buildbot/tryserver.webrtc/mac_rel" }
  builders { name: "buildbot/tryserver.webrtc/presubmit" }
  builders { name: "buildbot/tryserver.webrtc/win_asan" }
  builders { name: "buildbot/tryserver.webrtc/win_chromium_compile" }
  builders { name: "buildbot/tryserver.webrtc/win_clang_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_clang_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_clang_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_clang_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_more_configs" }
  builders { name: "buildbot/tryserver.webrtc/noop" }

  builders { name: "buildbot/tryserver.webrtc/android_compile_dbg" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_rel" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_arm64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_arm64_rel" }
  builders { name: "buildbot/tryserver.webrtc/android_compile_mips_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux_compile_rel" }
  builders { name: "buildbot/tryserver.webrtc/linux_dbg" }
  builders { name: "buildbot/tryserver.webrtc/linux32_rel" }
  builders { name: "buildbot/tryserver.webrtc/mac_compile_rel" }
  builders { name: "buildbot/tryserver.webrtc/mac_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_compile_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_compile_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_compile_x64_dbg" }
  builders { name: "buildbot/tryserver.webrtc/win_compile_x64_rel" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_win8" }
  builders { name: "buildbot/tryserver.webrtc/win_x64_win10" }
}
